body {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 1em 0 0 0;
}

.curtain {
    display: none;
    position: absolute;
}

#splash-curtain {
    text-align: center;
    width: 100%;
}

#game-container {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#snap-stage {
    background-color: rgb(64, 64, 64);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#controls-curtain {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    z-index: 1200;
    width: 100%;
}
.cell-stats {
    position: absolute;
    right: 1em;
    top: 1em;
    background: #eee;
}
.cell-stats tr:first-child td {
    background: #f2f2de;
    border-bottom: solid 1px #edc;
}
.cell-stats td {
    padding: 0.2em 0.4em;
}
.cell-stats td:first-child {
    color: #777;
}

#input-curtain {
    cursor: default;
/*    height: 100%;*/
    left: 0;
    position: absolute;
    top: 0;
/*    width: 100%;*/
    z-index: 1000;
}

.ceiling {
    fill: gray;
}

.floor {
    fill: brown;
}
